{% extends 'music/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'music/style-delete.css' %}">
{% endblock %}

{% block content %}
    <div class="confirm-message">
        <h2>Confirmar exclusão</h2>
        <p>Deseja excluir <strong>{{ musica.titulo }}</strong>?</p>
        <form method="post">
        {% csrf_token %}
        <button type="submit">Sim, excluir</button>
    </form>
    <a href="javascript:history.back()">Cancelar</a>
    </div>
{% endblock %}