{% extends 'music/base.html' %}
{% block content %}
    <h2>Artistas</h2>
<a href="{% url 'criar_artista' %}" class="btn btn-green">+ Novo</a>
<table>
  <tr><th>Nome</th><th>Gênero</th><th>Ações</th></tr>
  {% for a in artistas %}
  <tr>
    <td>{{ a.nome }}</td>
    <td>{{ a.genero }}</td>
    <td>
      <a href="{% url 'editar_artista' a.pk %}" class="btn btn-blue">Editar</a>
      <a href="{% url 'deletar_artista' a.pk %}" class="btn btn-red">Excluir</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
